<% provide(:title, 'Home') %>
<div class="jumbotron text-center">
	<h1>Private Events</h1>
	<h3>An app for scheduling and attending events</h3> 
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>